<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>No</string>
		<string>Yes</string>
	</array>
	<key>BBLMKeywordList</key>
	<array>
		<string>AFrames</string>
		<string>AnchorAlign</string>
		<string>AnchorBeside</string>
		<string>Angle</string>
		<string>ATbl</string>
		<string>AttrCondExprCatalog</string> <!-- Fm 11 -->
		<string>BDisplayText</string>
		<string>BFNoteComputeMethod</string>
		<string>BFNoteLabels</string>
		<string>BFNoteNumStyle</string>
		<string>BFNoteRestart</string>
		<string>BFNoteStartNum</string>
		<string>BLOffset</string>
		<string>BNextUnique</string>
		<string>Book</string>
		<string>BookComponent</string>
		<string>BookFileInfo</string>
		<string>BookUpdateReferences</string>
		<string>BoolCondCatalog</string> <!-- Fm 11 -->
		<string>BRect</string>
		<string>BTblFNoteComputeMethod</string>
		<string>BTblFNoteLabels</string>
		<string>BTblFNoteNumStyle</string>
		<string>BViewOnly</string>
		<string>BViewOnlyPopup</string>
		<string>BViewOnlyWinBorders</string>
		<string>BViewOnlyWinMenubar</string>
		<string>BWindowRect</string>
		<string>CAndCondition</string> <!-- Fm 11 -->
		<string>CColor</string>
		<string>Cell</string>
		<string>CellColor</string>
		<string>CellContent</string>
		<string>CellFill</string>
		<string>CellSeparation</string>
		<string>ChapterNumComputeMethod</string>
		<string>ChapterNumStart</string>
		<string>ChapterNumStyle</string>
		<string>ChapterNumText</string>
		<string>Char</string>
		<string>CharUnits</string>
		<string>Color</string>
		<string>ColorAttribute</string>
		<string>ColorBlack</string>
		<string>ColorCatalog</string>
		<string>ColorCyan</string>
		<string>ColorMagenta</string>
		<string>ColorTag</string>
		<string>ColorYellow</string>
		<string>CombinedFontCatalog</string>
		<string>Condition</string>
		<string>Conditional</string>
		<string>ConditionCatalog</string>
		<string>ContPageNum</string>
		<string>Cropped</string>
		<string>CSeparation</string>
		<string>CState</string>
		<string>CStyle</string>
		<string>CTag</string>
		<string>CustomFontFlag</string>
		<string>CustomPgfFlag</string>
		<string>CustomTblFlag</string>
		<string>DAcrobatBookmarksIncludeTagNames</string>
		<string>DAcrobatParagraphBookmarks</string>
		<string>DashedPattern</string>
		<string>DashedStyle</string>
		<string>DAutoChBars</string>
		<string>DBordersOn</string>
		<string>DChBarColor</string>
		<string>DChBarGap</string>
		<string>DChBarPosition</string>
		<string>DChBarWidth</string>
		<string>DCurrentView</string>
		<string>DefAttrValuesCatalog</string> <!-- Fm 11 -->
		<string>DDisplayOverrides</string>
		<string>DefaultApply</string>
		<string>DefaultDerive</string>
		<string>DefaultPrint</string>
		<string>DeriveLinks</string>
		<string>DeriveTag</string>
		<string>DeriveType</string>
		<string>DFluid</string>
		<string>DFluidSideheads</string>
		<string>DFNoteAnchorPos</string>
		<string>DFNoteAnchorPrefix</string>
		<string>DFNoteAnchorSuffix</string>
		<string>DFNoteComputeMethod</string>
		<string>DFNoteLabels</string>
		<string>DFNoteMaxH</string>
		<string>DFNoteNumberPos</string>
		<string>DFNoteNumberPrefix</string>
		<string>DFNoteNumberSuffix</string>
		<string>DFNoteNumStyle</string>
		<string>DFNoteRestart</string>
		<string>DFNoteTag</string>
		<string>DFrozenPages</string>
		<string>DFullRulers</string>
		<string>DGenerateAcrobatInfo</string>
		<string>DGraphicsOff</string>
		<string>DGridOn</string>
		<string>DHotspotIndicatorsOn</string>
		<string>Dictionary</string>
		<string>DictionaryPreferences</string> <!-- Fm 11 -->
		<string>DiLanguages</string> <!-- Fm 11 -->
		<string>DiLanguage</string> <!-- Fm 11 -->
		<string>DiService</string> <!-- Fm 11 -->
		<string>DiSpellProvider</string> <!-- Fm 11 -->
		<string>DiHyphenProvider</string> <!-- Fm 11 -->
		<string>DisplayText</string>
		<string>DLanguage</string>
		<string>DLinebreakChars</string>
		<string>DLinkBoundariesOn</string>
		<string>DMathAlphaCharFontFamily</string>
		<string>DMathCatalog</string>
		<string>DMathFunctions</string>
		<string>DMathGreek</string>
		<string>DMathLargeHoriz</string>
		<string>DMathLargeIntegral</string>
		<string>DMathLargeLevel1</string>
		<string>DMathLargeLevel1</string>
		<string>DMathLargeLevel2</string>
		<string>DMathLargeLevel2</string>
		<string>DMathLargeLevel3</string>
		<string>DMathLargeLevel3</string>
		<string>DMathLargeSigma</string>
		<string>DMathLargeVert</string>
		<string>DMathMediumHoriz</string>
		<string>DMathMediumIntegral</string>
		<string>DMathMediumLevel1</string>
		<string>DMathMediumLevel1</string>
		<string>DMathMediumLevel2</string>
		<string>DMathMediumLevel2</string>
		<string>DMathMediumLevel3</string>
		<string>DMathMediumLevel3</string>
		<string>DMathMediumSigma</string>
		<string>DMathMediumVert</string>
		<string>DMathNumbers</string>
		<string>DMathShowCustom</string>
		<string>DMathSmallHoriz</string>
		<string>DMathSmallIntegral</string>
		<string>DMathSmallLevel1</string>
		<string>DMathSmallLevel1</string>
		<string>DMathSmallLevel2</string>
		<string>DMathSmallLevel2</string>
		<string>DMathSmallLevel3</string>
		<string>DMathSmallLevel3</string>
		<string>DMathSmallSigma</string>
		<string>DMathSmallVert</string>
		<string>DMathStrings</string>
		<string>DMathVariables</string>
		<string>DMenuBar</string>
		<string>DNarrowRubiSpaceForJapanese</string>
		<string>DNarrowRubiSpaceForOther</string>
		<string>DNextUnique</string>
		<string>DNoPrintSepColor</string>
		<string>DocFileInfo</string>
		<string>Document</string>
		<string>DPageGrid</string>
		<string>DPageNumStyle</string>
		<string>DPagePointStyle</string>
		<string>DPageRounding</string>
		<string>DPageScrolling</string>
		<string>DPageSize</string>
		<string>DParity</string>
		<string>DPDFAllNamedDestinations</string>
		<string>DPDFAllPages</string>
		<string>DPDFConvertCMYK</string>
		<string>DPDFDestsMarked</string>
		<string>DPDFFit</string>
		<string>DPDFOpenBookmarkLevel</string>
		<string>DPDFPageSizeSet</string>
		<string>DPDFRegMarks</string>
		<string>DPDFSaveSeparate</string>
		<string>DPDFStructure</string>
		<string>DPDFStructureDefined</string>
		<string>DPDFZoom</string>
		<string>DPrintSeparations</string>
		<string>DPrintSkipBlankPages</string>
		<string>DPunctuationChars</string>
		<string>DRubiAlignAtLineBounds</string>
		<string>DRubiOverhang</string>
		<string>DRubiSize</string>
		<string>DRulersOn</string>
		<string>DShowAllConditions</string>
		<string>DSmallCapsSize</string>
		<string>DSmallCapsStretch</string>
		<string>DSmartQuotesOn</string>
		<string>DSmartSpacesOn</string>
		<string>DSnapGrid</string>
		<string>DSnapRotation</string>
		<string>DStartPage</string>
		<string>DSubscriptShift</string>
		<string>DSubscriptSize</string>
		<string>DSubscriptStretch</string>
		<string>DSuperscriptShift</string>
		<string>DSuperscriptSize</string>
		<string>DSuperscriptStretch</string>
		<string>DSymbolsOn</string>
		<string>DTblFNoteAnchorPos</string>
		<string>DTblFNoteAnchorPrefix</string>
		<string>DTblFNoteAnchorSuffix</string>
		<string>DTblFNoteLabels</string>
		<string>DTblFNoteNumberPos</string>
		<string>DTblFNoteNumberPrefix</string>
		<string>DTblFNoteNumberSuffix</string>
		<string>DTblFNoteNumStyle</string>
		<string>DTblFNoteTag</string>
		<string>DTrackChangesOn</string>
		<string>DTrackChangesPreviewState</string>
		<string>DTrackChangesReviewerName</string>
		<string>DTwoSides</string>
		<string>DUpdateTextInsetsOnOpen</string>
		<string>DUpdateXRefsOnOpen</string>
		<string>DViewOnly</string>
		<string>DViewOnlySelect</string>
		<string>DViewOnlyWinBorders</string>
		<string>DViewOnlyWinMenubar</string>
		<string>DViewOnlyWinPalette</string>
		<string>DViewOnlyWinPopup</string>
		<string>DViewOnlyXRef</string>
		<string>DViewRect</string>
		<string>DViewScale</string>
		<string>DVoMenuBar</string>
		<string>DWideRubiSpaceForJapanese</string>
		<string>DWideRubiSpaceForOther</string>
		<string>DWindowRect</string>
		<string>FAngle</string>
		<string>FBackgroundColor</string>
		<string>FCase</string>
		<string>FChangeBar</string>
		<string>FColor</string>
		<string>FDW</string>
		<string>FDX</string>
		<string>FDY</string>
		<string>FEncoding</string>
		<string>FFamily</string>
		<string>FileName</string>
		<string>FileNameSuffix</string>
		<string>Fill</string>
		<string>FLanguage</string>
		<string>FlipLR</string>
		<string>Float</string>
		<string>FLocked</string>
		<string>FNoteStartNum</string>
		<string>Font</string>
		<string>FontCatalog</string>
		<string>FOutline</string>
		<string>FOverline</string>
		<string>FPairKern</string>
		<string>FPlatformName</string>
		<string>FPosition</string>
		<string>FPostScriptName</string>
		<string>Frame</string>
		<string>FrameType</string>
		<string>FSeparation</string>
		<string>FShadow</string>
		<string>FSize</string>
		<string>FStretch</string>
		<string>FStrike</string>
		<string>FTag</string>
		<string>FTsume</string>
		<string>FUnderlining</string>
		<string>FVar</string>
		<string>FWeight</string>
		<string>HeadCap</string>
		<string>HyphenMaxLines</string>
		<string>HyphenMinPrefix</string>
		<string>HyphenMinSuffix</string>
		<string>HyphenMinWord</string>
		<string>ID</string>
		<string>ImportHint</string>
		<string>ImportObject</string>
		<string>ImportObFile</string>
		<string>ImportObFileDI</string>
		<string>ImportObNameDI</string>
		<string>InitialAutoNums</string>
		<string>Key</string>
		<string>KumihanCatalog</string>
		<string>MarkerTypeCatalog</string>
		<string>MIFFile</string>
		<string>MTypeName</string>
		<string>NativeOrigin</string>
		<string>Notes</string>
		<string>NSOffset</string>
		<string>NumPages</string>
		<string>NumPoints</string>
		<string>NumRunaroundPolygons</string>
		<string>ObColor</string>
		<string>ObjectActivateInPDF</string>
		<string>ObjectOpenInFloatWindow</string>
		<string>ObjectSupportMMLink</string>
		<string>OKWord</string>
		<string>Overprint</string>
		<string>Page</string>
		<string>PageAngle</string>
		<string>PageBackground</string>
		<string>PageNum</string>
		<string>PageNumbering</string>
		<string>PageNumStart</string>
		<string>PageNumStyle</string>
		<string>PageOrientation</string>
		<string>PageSize</string>
		<string>PageTag</string>
		<string>PageType</string>
		<string>Para</string>
		<string>ParaLine</string>
		<string>PDFBookInfo</string>
		<string>PDFDocInfo</string>
		<string>Pen</string>
		<string>PenWidth</string>
		<string>Pgf</string>
		<string>PgfAcrobatLevel</string>
		<string>PgfAlignment</string>
		<string>PgfAutoNum</string>
		<string>PgfBlockSize</string>
		<string>PgfBotSeparator</string>
		<string>PgfBotSepAtIndent</string>
		<string>PgfBotSepOffset</string>
		<string>PgfCatalog</string>
		<string>PgfCellAlignment</string>
		<string>PgfCellBMarginFixed</string>
		<string>PgfCellLMarginFixed</string>
		<string>PgfCellMargins</string>
		<string>PgfCellRMarginFixed</string>
		<string>PgfCellTMarginFixed</string>
		<string>PgfFIndent</string>
		<string>PgfFIndentOffset</string>
		<string>PgfFIndentRelative</string>
		<string>PgfFont</string>
		<string>PgfHyphenate</string>
		<string>PgfLanguage</string>
		<string>PgfLeading</string>
		<string>PgfLetterSpace</string>
		<string>PgfLIndent</string>
		<string>PgfLineSpacing</string>
		<string>PgfLocked</string>
		<string>PgfMaxJLetterSpace</string>
		<string>PgfMaxJRomanLetterSpace</string>
		<string>PgfMaxWordSpace</string>
		<string>PgfMinJLetterSpace</string>
		<string>PgfMinJRomanLetterSpace</string>
		<string>PgfMinWordSpace</string>
		<string>PgfNextTag</string>
		<string>PgfNumAtEnd</string>
		<string>PgfNumberFont</string>
		<string>PgfNumbering</string>
		<string>PgfNumFormat</string>
		<string>PgfNumString</string>
		<string>PgfNumTabs</string>
		<string>PgfOptJLetterSpace</string>
		<string>PgfOptJRomanLetterSpace</string>
		<string>PgfOptWordSpace</string>
		<string>PgfPDFStructureLevel</string>
		<string>PgfPlacement</string>
		<string>PgfPlacementStyle</string>
		<string>PgfReferenced</string> <!-- Fm11 --> 
		<string>PgfRIndent</string>
		<string>PgfRunInDefaultPunct</string>
		<string>PgfSpAfter</string>
		<string>PgfSpBefore</string>
		<string>PgfTag</string>
		<string>PgfTopSeparator</string>
		<string>PgfTopSepAtIndent</string>
		<string>PgfTopSepOffset</string>
		<string>PgfUseNextTag</string>
		<string>PgfWithNext</string>
		<string>PgfWithPrev</string>
		<string>PgfYakumonoType</string>
		<string>Point</string>
		<string>PolyLine</string>
		<string>Row</string>
		<string>RowHeight</string>
		<string>RowMaxHeight</string>
		<string>RowMinHeight</string>
		<string>Ruling</string>
		<string>RulingCatalog</string>
		<string>RulingColor</string>
		<string>RulingGap</string>
		<string>RulingLines</string>
		<string>RulingPen</string>
		<string>RulingPenWidth</string>
		<string>RulingSeparation</string>
		<string>RulingTag</string>
		<string>RunaroundGap</string>
		<string>RunaroundPolygon</string>
		<string>RunaroundPolygons</string>
		<string>RunaroundType</string>
		<string>Separation</string>
		<string>ShapeRect</string>
		<string>StartPageSide</string>
		<string>String</string>
		<string>TabStop</string>
		<string>Tag</string>
		<string>TailCap</string>
		<string>Tbl</string>
		<string>TblAlignment</string>
		<string>TblAltShadePeriod</string>
		<string>TblBlockSize</string>
		<string>TblBody</string>
		<string>TblBodyColor</string>
		<string>TblBodyFill</string>
		<string>TblBodyRowRuling</string>
		<string>TblBodySeparation</string>
		<string>TblBRuling</string>
		<string>TblCatalog</string>
		<string>TblCellMargins</string>
		<string>TblColumn</string>
		<string>TblColumnBody</string>
		<string>TblColumnF</string>
		<string>TblColumnH</string>
		<string>TblColumnNum</string>
		<string>TblColumnRuling</string>
		<string>TblColumnWidth</string>
		<string>TblFormat</string>
		<string>TblHFColor</string>
		<string>TblHFFill</string>
		<string>TblHFRowRuling</string>
		<string>TblHFSeparation</string>
		<string>TblID</string>
		<string>TblInitNumBodyRows</string>
		<string>TblInitNumColumns</string>
		<string>TblInitNumFRows</string>
		<string>TblInitNumHRows</string>
		<string>TblLastBRuling</string>
		<string>TblLIndent</string>
		<string>TblLocked</string>
		<string>TblLRuling</string>
		<string>TblNumByColumn</string>
		<string>TblNumColumns</string>
		<string>TblPlacement</string>
		<string>TblRIndent</string>
		<string>TblRRuling</string>
		<string>TblRulingPeriod</string>
		<string>Tbls</string>
		<string>TblSeparatorRuling</string>
		<string>TblShadeByColumn</string>
		<string>TblShadePeriod</string>
		<string>TblSpAfter</string>
		<string>TblSpBefore</string>
		<string>TblTag</string>
		<string>TblTitleGap</string>
		<string>TblTitlePgf1</string>
		<string>TblTitlePlacement</string>
		<string>TblTRuling</string>
		<string>TblXColor</string>
		<string>TblXColumnNum</string>
		<string>TblXColumnRuling</string>
		<string>TblXFill</string>
		<string>TblXRowRuling</string>
		<string>TblXSeparation</string>
		<string>TextFlow</string>
		<string>TextInset</string>
		<string>TextInsetEnd</string>
		<string>TextInsetLocked</string>
		<string>TextLine</string>
		<string>TextRect</string>
		<string>TextRectID</string>
		<string>TFAutoConnect</string>
		<string>TFSideheads</string>
		<string>TFTag</string>
		<string>TiAutoUpdate</string>
		<string>TiFlow</string>
		<string>TiFormatRemoveOverrides</string>
		<string>TiFormatRemovePageBreaks</string>
		<string>TiFormatting</string>
		<string>TiMainFlow</string>
		<string>TLAlignment</string>
		<string>TLOrigin</string>
		<string>TRColumnBalance</string>
		<string>TRColumnGap</string>
		<string>TRNext</string>
		<string>TRNumColumns</string>
		<string>TRSideheadGap</string>
		<string>TRSideheadPlacement</string>
		<string>TRSideheadWidth</string>
		<string>TSLeaderStr</string>
		<string>TSType</string>
		<string>TSX</string>
		<string>TSXRelative</string>
		<string>Unique</string>
		<string>Units</string>
		<string>Value</string>
		<string>Variable</string>
		<string>VariableDef</string>
		<string>VariableFormat</string>
		<string>VariableFormats</string>
		<string>VariableName</string>
		<string>View</string>
		<string>ViewCutout</string>
		<string>ViewInvisible</string>
		<string>ViewNumber</string>
		<string>Views</string>
		<string>VolNumComputeMethod</string>
		<string>VolumeNumStart</string>
		<string>VolumeNumStyle</string>
		<string>VolumeNumText</string>
		<string>XRefDef</string>
		<string>XRefFormat</string>
		<string>XRefFormats</string>
		<string>XRefName</string>
	</array>
	<key>BBLMLanguageCode</key>
	<string>MIF </string>
	<key>BBLMLanguageDisplayName</key>
	<string>FrameMaker MIF</string>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.mif</string>
		</dict>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Close Statement Blocks</key>
		<string>&gt;</string>
		<key>Comment Pattern</key>
		<string>#.+$</string>
		<key>Function Pattern</key>
		<string>^&lt;(?P&lt;function_name&gt;[A-Za-z]+) ?\r( .+\r)*&gt;</string>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z0-9</string>
		<key>Open Statement Blocks</key>
		<string>&lt;</string>
		<key>String Pattern</key>
		<string>`([ -\[\]-~]|\\&gt;|\\x[0-9a-f][0-9a-f] |\\u[0-9a-f][0-9a-f][0-9a-f][0-9a-f] )*&apos;</string>
	</dict>
	<key>Version</key>
	<dict>
		<key>Author</key>
		<string>Charles Poynton</string>
		<key>Date</key>
		<string>2014-04-05 19:30 EDT</string>
		<key>ForProduct</key>
		<string>FrameMaker 11</string>
	</dict>
</dict>
</plist>
